.App {
  margin: 50px auto;
  max-width: 500px;
  width: 100%;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 3px #333;
}
fieldset {
  margin-bottom: 30px;
  max-width: 90%;
  padding: 20px;
  text-align: left;
  color: #a00;
  border: 1px dashed #a00;
  border-radius: 5px;
}